h2 {
    margin-left:50px
 }
  
 p {
   margin-left:20px  
   margin-right:20px  
 }
article {
    min-height: 100%;
    display: grid;
}
  
footer {
    display: flex;
   justify-content: center;
   padding: 2px;

}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

  